.barWrapper {
  margin-top: 10px;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  opacity: 0;
  transition: opacity ease-in 0.3s;
}
.barWrapper.active {
  opacity: 1;
}
.bar {
  background: #e1e1e1;
  height: 100%;
  width: 24%;
  height: 3px;
}
.desc {
  width: 100%;
  text-align: right;
  font-weight: 900;
  font-size: 14px;
}
