.inner {
  padding: 24px 0;
  background: #fff;
}
.content {
  color: red;
  text-align: center;
  min-height: 300px;
}

.title {
  font-size: 21px;
}

.btn {
  width: 200px;
  border-radius: 50px;
  display: block;
  border: none;
  margin: 0 auto;
}
