.inner {
  padding: 24px 0;
  background: rgb(157, 20, 20);
}
.content {
  color: #fff;
  text-align: center;
  min-height: 500px;
}

.title {
  font-size: 21px;
}

.btn {
  width: 200px;
  border-radius: 50px;
  display: block;
  border: none;
  margin: 0 auto;
}
