.inner {
  padding: 24px;
  background: #fff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  color: red;
  text-align: center;
}

.title {
  font-size: 30px;
}
