.inner {
  position: relative;
}

.top {
  margin: 10px 0;
}

.textTop {
  position: absolute;
  font-family: "arial";
  top: 20px;
  width: 100%;
  padding: 0 10%;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  font-weight: 900;
  border: 5px solid red;
}

.textBottom {
  font-family: "arial";
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 0 10%;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  font-weight: 900;
  border: 5px solid red;
}
.selectImage {
  display: flex;
  gap: 10px;
  height: 200px;
}
.imageButton {
  width: 33%;
  border: none;
  padding: 0;
  background: #ccc;
  cursor: pointer;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.memImage {
  aspect-ratio: 1/1;
  display: block;
}

@media (min-width: 800px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 30px;

    max-width: 800px;
    margin-bottom: 30px;
  }

  .selectImage {
    grid-column: 1 / span 1;
  }
  .inner {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    align-self: flex-start;
  }
}
