.inner {
  position: relative;
}
img {
  display: block;
  width: 100%;
}

.top {
  margin: 10px 0;
}

.textTop {
  position: absolute;
  top: 10px;
  width: 100%;
  padding: 2%;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  font-weight: 900;
}

.textBottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 2%;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  font-weight: 900;
}
