@media print {
  html,
  body {
    display: none;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

.images-container {
  display: flex;
}
.save-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.image {
  width: 100%;
  height: auto;
  border: 5px solid black;
}
.image img {
  width: 100%;
  height: auto;
}

.button,
.link {
  background: blueviolet;
  color: #fff;
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
}

.image {
  /* width: 300px;
  height: 300px;
  border: 2px solid #363636;
  margin: 10px;
  cursor: pointer; */
}

.image img {
  /* height: 100%;
  width: 100%;
  display: block;
  object-fit: contain; */
}

.canvas-wrapper {
  width: 100%;
  height: 100%;

  max-width: 500px;
  margin: 0 auto;
}
canvas {
  /* max-width: 500px; */
}
